@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
}

label,button,div {
  font-size: 12px;
}

[id*='-root'] .title {
  text-align: center;
  margin: 5px;
}

[id*='-root'] [class*='rzl-form'] {
  justify-content: center;
}

[id*='-root'] .rzl-form {
  padding: 10px;
  border: 1px dashed black;
  margin-bottom: 1em;
}

[id*='-root'] .rzl-form-row,
[id*='-root'] .rzl-form-item {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  /* margin: 5px; */
}
[id*='-root'] .rzl-form-row > * {
  margin: 5px;
}
[id*='-root'] .rzl-form-item > label {
  padding-right: 5px;
}
[id*='-root'] #output,
[id*='-root'] #statsout {
  border: 1px dashed black;
  margin-bottom: 1em;
}
[id*='-root'] #output > *,
[id*='-root'] #statsout > * {
  margin: 10px;
}

.rzl-btn:hover {
  border-color: red;
  color: red;
}


@media only screen and (min-width: 1080px) {
  body {
    /* background-color: lightblue; */
  }

  [id*='-root'] {
    max-width: 1080px;
    margin: auto;
  }
}
