@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

h1 {
  font-size: 1rem;
}

label,
button,
div {
  font-size: 0.75rem;
}

table {
  border-spacing: 0;
  text-align: left;
}
tr > * {
  padding: 0.125rem 1rem;
}
tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.iconify {
  font-size: 1.5rem;
}

.ui-root .title {
  text-align: center;
  margin: 5px;
}

.ui-root .rzl-form {
  padding: 10px;
  border: 1px dashed var(--rzl-color);
  margin-bottom: 1em;
}

.ui-root #output,
.ui-root #statsout {
  border: 1px dashed var(--rzl-color);
  margin-bottom: 1em;
}
.ui-root #output > *,
.ui-root #statsout > * {
  margin: 10px;
}

.modal-box {
  border-radius: 0.5rem;
}

@media only screen and (min-width: 1080px) {
  .ui-root {
    max-width: 1080px;
    margin: auto;
  }
}
