#arena-root * {
  /* border: 1px solid red; */
}

#arena-root .title {
  text-align: center;
  margin: auto;
}
#arena-root [class*='rzl-form'] {
  justify-content: center;
}
#arena-root .rzl-form {
  padding: 10px;
  border: 1px dashed black;
}
#arena-root .rzl-form-row,
#arena-root .rzl-form-item {
  display: flex;
  flex-flow: row;
  text-align: center;
  align-items: center;
  /* margin: 5px; */
}
#arena-root .rzl-form-row > * {
  margin: 5px;
}
#arena-root .rzl-form-item > label {
  padding-right: 5px;
}
#arena-root #output {
  border: 1px dashed black;
}
#arena-root #output > * {
  margin: 10px;
}
